[submodule "src/third_party/glfw"]
	path = src/third_party/glfw
	url = https://github.com/glfw/glfw
[submodule "src/third_party/glm"]
	path = src/third_party/glm
	url = https://github.com/g-truc/glm
[submodule "src/third_party/tinygltf"]
	path = src/third_party/tinygltf
	url = https://github.com/syoyo/tinygltf
[submodule "src/third_party/asio"]
	path = src/third_party/asio
	url = https://github.com/chriskohlhoff/asio
[submodule "src/third_party/imgui"]
	path = src/third_party/imgui
	url = https://github.com/ocornut/imgui
